body {
    background-image: url(https://img.freepik.com/free-photo/blurred-cafe-background-coffee-shop-blur-background-with-bokeh_1484-1949.jpg?size=626&ext=jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 100vw 100vh;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    border: 4px solid black;
    margin: 15px;
}

#minha-fala {
    position: relative;
    left: 250px;
    bottom: 200px;
    width: 200px;
}

.menu-bar {
    list-style: none;
    position: relative;
    font-size: 25px;
    background-color: black;
    color: white;
    letter-spacing: 1px;
    width: 100%;
    padding: 0px;
    border-radius: 25px;
    border: 1px solid #c0c0c0;
}

.topnavbutton {
    vertical-align: middle;
    padding: 0px 120px 0px 120px;
    color: white;
    border-right: 1px solid white;
}

.header{
    padding: 60px;
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 25px;
    position: relative;
    top: 30px;
}

.introducao-inicio{
    margin: 10px;
    font-size: large;
}

